<h1 align="center"> Log in to Stockology!</h1>

<div align="center" %>
    <%= form_for(:session, url: login_path) do |f| %>
        <p>
            <%= f.label :email, "Email" %>
            <%= f.text_field :email, placeholder: "Email" %>
        </p>
        <p>
            <%= f.label :password, "Password" %>
            <%= f.password_field :password, placeholder: "Password" %>
        </p>
        
        <p>
            <%= f.submit "Log In" %>
        </p>
    <% end %>
</div>

