<div align="center">
    <%= form_for @user do |f| %>
        <p>
            <% if @user.errors.any? %>
            <h2>The following errors prevented your user from being saved:</h2>
                <ul>
                    <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            <% end %>
        </p>
        
        <p>
            <%= f.label :username %>
            <%= f.text_field :username %>
        </p>
    
        <p>
            <%= f.label :name %>
            <%= f.text_field :name %>
        </p>
        
        <p>
            <%= f.label :email %>
            <%= f.email_field :email %>
        </p>
        
        <p>
            <%= f.label :password %>
            <%= f.password_field :password %>
        </p>
            
        <p>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
        </p> 

        <p> 
            <%= f.label :balance %> 
            <%= f.text_field :balance %> 
        </p>

        <p>
            <%= f.submit %>
        </p>
        
    <% end %>
</div>