<table align="center" class="table table-striped">
    <tr>
            <th>User Id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
    </tr>
    <% @users.each do |user| %>
        
        <tr>
            <td><%= user.id %></td>
            <td><%= link_to user.username, user_path(user) %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <% if logged_in? %>
                <% if current_user.not_yet_friends?(user.id) %>
                    <td><%= link_to "Add Friend", add_friend_path(user: current_user, friend: user), 
                            method: :post, class: "btn btn-success" %></td>
                <% else %>
                    <td><%= link_to "Already Friends!", user_path(user) %></td>
                <% end %>
            <% end %>
        </tr>
    <% end %>
</table>