<h1 align="center">Connect With Friends!</h1>

<div align="center">
    <%= form_tag search_users_path, remote: true, method: :get do %>
        <%= label_tag :potential_friend, "Enter name or email:" %>
        <%= text_field_tag :potential_friend, params[:potential_friend], placeholder: "Name or email" %>
        
        <%= submit_tag "Connect" %>
    <% end %>
</div>

<div align="center">
    <% if @user %>
        <%= render partial: 'list_users' %>
    <% end %>
</div> 

<div align="center" id="friend-result"> 

</div> 

<% if !@friendships.nil? %>
<h1 align="center">My Friends</h1> 
    <table align="center", class="table table-striped col-md-6">
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    
        
            <% @friendships.each do |friend| %>
                <tr>
                    <td><%= link_to friend.name, user_path(friend) %></td>
                    <td><%= friend.email %></td>
                    <td><%= link_to "Remove Friend", friendship_path(friend),
                            method: :delete, data: { confirm: "Are you sure?" } %></td>
                </tr>
            <% end %>
        
    </table>
<% end %>
    