<div align="center">
    <h1><%= @user.name %>'s Profile</h1>
    
    <h3><%= @user.username %></h3>
    <h3><%= @user.name %></h3>
    <h3><%= @user.email %></h3> 
    <h2>Balance: $<%= @user.balance %></h3>
    
    <h5>My Stocks</h5>

    <div class="row"> 
        <%= render partial: "users/list_stocks" %> 
    </div> 
    
    
    <%= render 'users/friends' %>
    
    
    <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Edit Profile", edit_user_path(@user) %></li>
        <li><%= link_to "Delete Profile", user_path(@user), 
                                          method: :delete, data: { confirm: "Are you sure?" } %></li>
    </ul>
</div>
